<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is my index template</h1>
    <h2>
<!--        <a href="/myapp/index/{{item.id}}/">{{item.name}}</a>-->
        <table border="1">
            {% for item in items %}
                <tr>
                    <td width="150"><a href="{% url 'myapp:detail' item.id %}">{{item.name}}</a></td>
                    <td width="150">{{item.prise}}</td>
                    <td width="150">{{item.description}}</td>
                </tr>
            {% endfor %}
        </table>
    </h2>
</body>
</html>